{% extends "base.html" %}
{% block title %}
  <title>About</title>
{% endblock title %}

{% block content %}
  <div class="container mt-3 text-center light-text">
    <h1 class="text-center">About This Project</h1>
    <hr />
    <h3 class="text-center">
      Welcome to my To-Do List website, crafted with care using Python and Django!
    </h3>
    <div>
      <p>
        This project is designed to help you stay organized and productive by providing a simple yet powerful tool
        for managing your tasks.
        Built with the powerful Django framework, this project emphasizes efficiency, reliability, and scalability, making it a robust solution for all your task management needs.
      </p>
    </div>
  </div>
{% endblock content %}
