{% extends "base.html" %}
{% block title %}
  <title>Contact</title>
{% endblock title %}

{% block content %}
  <div class="container light-text mt-3">
    <h1 class="text-center">Contact</h1>
    <hr />
    <p class="text-center">
      I’d love to hear from you! Whether you have questions, feedback, or need assistance, feel free to reach out.
    </p>
    <form action="https://formspree.io/f/mvgpoevy" method="post">
      <input class="center-block input-field" type="text" name="name" placeholder="Name" required />
      <input class="center-block input-field" type="email" name="email" placeholder="Email" required />
      <textarea class="center-block input-message" name="message" placeholder="Message" required></textarea>
      <button class="center-block contact-button" type="submit">Send</button>
    </form>
  </div>
{% endblock content %}
