{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Welcome to Task</title>
{% endblock title %}

{% block content %}
  <div class="container mt-5">
    <div class="text-center light-text">
      <h1>Welcome to TaskList!</h1>
      <hr />
      <h3>Organize. Prioritize. Achieve.</h3>
      <p>
        Are you ready to take control of your tasks and boost your productivity? TaskList is here to help you stay organized, focused, and efficient. With a user-friendly interface and powerful features, managing your tasks has never been easier.
      </p>
      <hr />
      <h3>Key Features:</h3>
    </div>
    <div class="row logos">
      <div class="col logo hidden">
        <div class="image">
          <img class="image__img rounded-3"
               src="{% static 'images/notebook.jpg' %}"
               alt="Notebook"
               width="250px"
               height="250px" />
          <div class="image__overlay image__overlay--blur">
            <div class="image__title">Stay organized and boost productivity.</div>
            <p class="image__description">
              Keep all your tasks in one place to enhance efficiency and productivity.
            </p>
          </div>
        </div>
      </div>
      <div class="col logo hidden">
        <div class="image">
          <img class="image__img rounded-3"
               src="{% static 'images/pen.jpg' %}"
               alt="Pen"
               width="250px"
               height="250px" />
          <div class="image__overlay image__overlay--blur">
            <div class="image__title">Track your progress effortlessly.</div>
            <p class="image__description">Easily monitor completed tasks and stay on top of your to-dos.</p>
          </div>
        </div>
      </div>
      <div class="col logo hidden">
        <div class="image">
          <img class="image__img rounded-3"
               src="{% static 'images/stickynotes.jpg' %}"
               alt="Stickynotes"
               width="250px"
               height="250px" />
          <div class="image__overlay image__overlay--blur">
            <div class="image__title">Prioritize tasks with ease.</div>
            <p class="image__description">Seamlessly prioritize to focus on what matters most.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="models">
    <center>
      <a href="{% url 'todolist' %}">
        <button type="button" class="center-block index-button mt-5 rounded-3">Get Started!</button>
      </a>
    </center>
  </div>
{% endblock content %}
